<div class="container-fluid">
  <div id="banner_content">
    <!-- <div class="container"> -->
      <div class="row align-items-center">
        <div class="col-sm-6">
          <div class="d-flex flex-column">
            <div class="banner_title">Transform Peripheral CCTV Footage
              Into Actionable Insights</div>
            </div>
            <div class="subtitle text-center">
              Enhance Customer Experience, Ensure Safety, And Improve Operational Efficiency With CHARLIE, The Best Video Analytica Software.
            </div>
          </div>
        <div class="col-sm-6">
          <div class="position-relative">
            <img src="../../../../assets/mini-robo-laptop.png" alt="" class="img-fluid">
            <img src="https://img.freepik.com/premium-photo/artificial-intelligence-logo-minimalist-3d-ai-simple-white-background-ultra-high-quality_950002-1386.jpg?" alt="" class="img-fluid cctv-img">
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>
<section>
  sdff
</section>




