<div class="container-fluid p-0">
  <div id="banner_content">
    <!-- <div class="container"> -->
    <div class="row align-items-center">
      <div class="col-sm-6 order-2 order-lg-0">
        <div class="d-flex flex-column gap-4">
          <div class="banner_title">Transform Peripheral CCTV Footage
            Into <span class="text-main">Actionable Insights</span>
          </div>
          <div class="subtitle text-center">
            Enhance Customer Experience, Ensure Safety, And Improve Operational <br> Efficiency With CHARLIE, The Best
            Video
            Analytica Software.
          </div>
          <div class="d-flex align-items-center justify-content-center gap-2">
            <button class="btn-main">
              <i class="fa-solid fa-play"></i>
              <span class="px-2">Watch a Demo</span>
            </button>
            <button class="btn-main">Book a Demo</button>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="position-relative">
          <img src="../../../../assets/mini-robo-laptop.png" alt="" class="img-fluid robo-laptop-img">
          <img
            src="https://img.freepik.com/premium-photo/artificial-intelligence-logo-minimalist-3d-ai-simple-white-background-ultra-high-quality_950002-1386.jpg?"
            alt="" class="img-fluid cctv-img">
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>
<section class="staq_at_glance">
  <div class="container">
    <div class="row align-items-center gx-4">
      <div class="col-sm-3">
        <div class="d-flex flex-column gap-3 text-center text-lg-none">
          <div class="title pb-0">STAQU AT A <span class="text-main">GLANCE</span></div>
          <h6>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, reiciendis dignissimos. Velit!</h6>
          <button class="btn-main">Get Started Free</button>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card border-0">
          <div class="card-body">
            <div class="d-flex flex-column algn-items-center text-center gap-2">
              <span><i class="fa-solid fa-camera"></i></span>
              <h2 class="staq_cnt">25k+</h2>
              <h4 class="staq_subtext">Cameras With Video Analytics</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card border-0">
          <div class="card-body">
            <div class="d-flex flex-column algn-items-center text-center gap-2">
              <span><i class="fa-solid fa-bell"></i></span>
              <h2 class="staq_cnt">5M+</h2>
              <h4 class="staq_subtext">Real Time Alerts Are Processed.</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card border-0">
          <div class="card-body">
            <div class="d-flex flex-column algn-items-center text-center gap-2">
              <span><i class="fa-solid fa-book"></i></span>
              <h2 class="staq_cnt">25+</h2>
              <h4 class="staq_subtext">Research Papers Published</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="what_is_charlie">
  <div class="text-center pb-5">
    <div class="d-flex align-items-center justify-content-center gap-2">
      <span class="info-icon">
        <i class="fa-solid fa-info"></i>
      </span>
      <h6 class="mb-0">Know What we Are</h6>
    </div>
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://img.freepik.com/premium-vector/robot-studying-human-anatomy-flat-illustration_82574-11943.jpg?w=740"
                class="img-fluid" alt="...">
            </div>
            <div class="carousel-item">
              <img
                src="https://img.freepik.com/premium-photo/bright-futuristic-background_476363-6567.jpg?w=740"
                class="img-fluid" alt="...">
            </div>
            <div class="carousel-item">
              <img
                src="https://img.freepik.com/premium-photo/white-3d-figure-greets-robot-time-technology-friendship-ai-generated_1034098-11471.jpg?w=740"
                class="img-fluid" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="d-flex flex-column gap-3">
          <div class="title pb-0">What Is <span class="text-main"> Charlie?</span></div>
          <p class="mb-0">
            Charlie Is An Audio And Video Analytics Software As Well As An Audio- Video Management Technology Platform
            That Has Changed The Way People Think About Security Cameras. Charlie Helps Transform Long CCTV Video
            Footage Into Meaningful Information. The Video Analytics Software Enables Us To Provide Short And Crisp
            Real-Time Alerts That Are Actionable.
          </p>
          <p>
            Fueled With Artificial Intelligence, Computer Vision, Deep Learning, Patented Technologies, And Unique
            Capabilities, Charlie Offers Innovation For Growth And Security, Making AIkernel Technologies The Best
            Intelligent Video Technology Solution Company.
          </p>
          <button class="btn-main">Learn More <i class="fa-solid fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
    <div class="half-ring-shape">
      <img src="../../../../assets/half-ring-shape.png" alt="" class="img-fluid">
    </div>
  </div>
</section>
<section class="charlie_anlytics_software">
  <div class="container">
    <div class="text-center title">
      Industries Leveraging <span class="text-main">Charlie</span> <br> Video Analytics Software
    </div>
    <div class="row gy-5">
      <div class="col-sm-4">
        <div class="card border-0 ">
          <div class="card-body">
            <div class="d-flex flex-column gap-3">
              <img src="https://bariton-react.envytheme.com/images/home-six/services/icon1.png" alt=""
                class="img-fluid">
              <h4 class="text-main">Retail</h4>
              <p>
                Explore CHARLIE Retail Analytics Software To Enable Seamless Integration Of Video Analytics For Retail
                Stores Into Your Existing Infrastructure. Know About Your Retail Store’s Unique Visitor Count,
                Demography Analytics, And More And Elevate Your Brick- And-Mortar With Video Analytics Software.
              </p>
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 ">
          <div class="card-body">
            <div class="d-flex flex-column gap-3">
              <img src="https://bariton-react.envytheme.com/images/home-six/services/icon1.png" alt=""
                class="img-fluid">
              <h4 class="text-main">Manufacturing</h4>
              <p>
                Explore CHARLIE Retail Analytics Software To Enable Seamless Integration Of Video Analytics For Retail
                Stores Into Your Existing Infrastructure. Know About Your Retail Store’s Unique Visitor Count,
                Demography Analytics, And More And Elevate Your Brick- And-Mortar With Video Analytics Software.
              </p>
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 ">
          <div class="card-body">
            <div class="d-flex flex-column gap-3">
              <img src="https://bariton-react.envytheme.com/images/home-six/services/icon1.png" alt=""
                class="img-fluid">
              <h4 class="text-main">Infrastructure</h4>
              <p>
                Explore CHARLIE Retail Analytics Software To Enable Seamless Integration Of Video Analytics For Retail
                Stores Into Your Existing Infrastructure. Know About Your Retail Store’s Unique Visitor Count,
                Demography Analytics, And More And Elevate Your Brick- And-Mortar With Video Analytics Software.
              </p>
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 ">
          <div class="card-body">
            <div class="d-flex flex-column gap-3">
              <img src="https://bariton-react.envytheme.com/images/home-six/services/icon1.png" alt=""
                class="img-fluid">
              <h4 class="text-main">Hospitality</h4>
              <p>
                Explore CHARLIE Retail Analytics Software To Enable Seamless Integration Of Video Analytics For Retail
                Stores Into Your Existing Infrastructure. Know About Your Retail Store’s Unique Visitor Count,
                Demography Analytics, And More And Elevate Your Brick- And-Mortar With Video Analytics Software.
              </p>
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 ">
          <div class="card-body">
            <div class="d-flex flex-column gap-3">
              <img src="https://bariton-react.envytheme.com/images/home-six/services/icon1.png" alt=""
                class="img-fluid">
              <h4 class="text-main">Public Sector</h4>
              <p>
                Explore CHARLIE Retail Analytics Software To Enable Seamless Integration Of Video Analytics For Retail
                Stores Into Your Existing Infrastructure. Know About Your Retail Store’s Unique Visitor Count,
                Demography Analytics, And More And Elevate Your Brick- And-Mortar With Video Analytics Software.
              </p>
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 ">
          <div class="card-body">
            <div class="d-flex flex-column gap-3">
              <img src="https://bariton-react.envytheme.com/images/home-six/services/icon1.png" alt=""
                class="img-fluid">
              <h4 class="text-main">Smart Cities</h4>
              <p>
                Explore CHARLIE Retail Analytics Software To Enable Seamless Integration Of Video Analytics For Retail
                Stores Into Your Existing Infrastructure. Know About Your Retail Store’s Unique Visitor Count,
                Demography Analytics, And More And Elevate Your Brick- And-Mortar With Video Analytics Software.
              </p>
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center my-4">
      <button class="btn-main">View All Services</button>
    </div>
  </div>
  <div class="half-ring-shape">
    <img src="../../../../assets/half-ring-shape.png" alt="" class="img-fluid">
  </div>
  <div class="cross-shape">
    <i class="fa-solid fa-xmark"></i>
  </div>
</section>
<section class="charlie_platform">
  <div class="container">
    <div class="text-center pb-5">
      <div class="title pb-0">Charlie <span class="text-main">Platform</span></div>
      <p>
        Charlie provides a user-friendly dashboard that will help you <br> monitor critical incidents and to take
        actions on them.
      </p>
    </div>
    <div class="row">
      <div class="col-sm-6 order-2 order-lg-0">
        <div class="row gx-4 gy-4">
          <div class="col-sm-6">
            <div class="card h-100">
              <div class="card-header">
                <div class="d-flex align-items-center gap-3">
                  <div class="flex-shrink-0">
                    <img src="https://bariton-react.envytheme.com/images/home-six/computer-vision/icon1.png" alt="..."
                      class="img-fluid">
                  </div>
                  <div class="card_title">MULTILE REAL TIME ALERTS </div>
                </div>
              </div>
              <div class="card-body">
                <div class="card-description">
                  <p>Get instant alerts on violations to detect, verify and act on critical events.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card h-100">
              <div class="card-header">
                <div class="d-flex align-items-center gap-3">
                  <div class="flex-shrink-0">
                    <img src="https://bariton-react.envytheme.com/images/home-six/computer-vision/icon1.png" alt="..."
                      class="img-fluid">
                  </div>
                  <div class="card_title">LIVE FEEDS </div>
                </div>
              </div>
              <div class="card-body">
                <div class="card-description">
                  <p>Access libve feeds of your cameras anytime, anywhere.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card h-100">
              <div class="card-header">
                <div class="d-flex align-items-center gap-3">
                  <div class="flex-shrink-0">
                    <img src="https://bariton-react.envytheme.com/images/home-six/computer-vision/icon1.png" alt="..."
                      class="img-fluid">
                  </div>
                  <div class="card_title">TICKET MANAGEMENT SYSTEM </div>
                </div>
              </div>
              <div class="card-body">
                <div class="card-description">
                  <p>Access libve feeds of your cameras anytime, anywhere.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card h-100">
              <div class="card-header">
                <div class="d-flex align-items-center gap-3">
                  <div class="flex-shrink-0">
                    <img src="https://bariton-react.envytheme.com/images/home-six/computer-vision/icon1.png" alt="..."
                      class="img-fluid">
                  </div>
                  <div class="card_title">TICKET MANAGEMENT SYSTEM </div>
                </div>
              </div>
              <div class="card-body">
                <div class="card-description">
                  <p>Access libve feeds of your cameras anytime, anywhere.</p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <button class="btn-main">Get Started Now</button>
      </div>
      <div class="col-sm-6">
        <img
          src="../../../../assets/3d-rendering-humanoid-robot-working-with-headset-notebook_493806-5952-removebg-preview.png"
          alt="" class="img-fluid">
      </div>
    </div>
    <div class="cross-shape">
      <i class="fa-solid fa-xmark"></i>
    </div>
    <div class="circle-img">
      <img src="https://bariton-react.envytheme.com/images/banner-2/banner-2-shape1.png" alt="" class="img-fluid">
    </div>
  </div>


</section>
