<section class="footer" id="footer">
  <img src="	https://bariton-react.envytheme.com/images/home-eight/team/shape-1.png" alt="" class="rounded-shape-img">
  <div class="container h-100">
    <div class="row justify-content-between gx-4 gy-4 h-100 ">
      <div class="col-sm-3">
        <div class="d-flex flex-column gap-lg-4">
          <div class="footer_title">
            <img src="../../../../assets/logo.png" alt="" class="img-fluid">
          </div>
          <p class="text-white">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, fugit similique alias nulla natus minima.
            Et eaque nemo quaerat sit in qui possimus?
          </p>
          <div class="socia-media-links">
            <div class="d-flex gap-3">
              <span><i class="fa-brands fa-linkedin-in"></i></span>
              <span><i class="fa-brands fa-twitter"></i></span>
              <span><i class="fa-brands fa-youtube"></i></span>
              <span><i class="fa-brands fa-facebook-f"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3">
        <div class="d-flex flex-column gap-lg-4">
          <div class="footer_title footer_other_titles">Services</div>
          <ul class="list-unstyled">
            <li><a href="">Product Engineering</a></li>
            <li><a href="">UX/UI Design</a></li>
            <li><a href="">Big Data Analysis</a></li>
            <li><a href="">Desktop Applications</a></li>
            <li><a href="">Mobile Applications</a></li>
          </ul>
        </div>

      </div>
      <div class="col-6 col-sm-3">
        <div class="d-flex flex-column gap-lg-4">
          <div class="footer_title footer_other_titles">Quick Links</div>
          <ul class="list-unstyled">
            <li><a href="">Product Engineering</a></li>
            <li><a href="">UX/UI Design</a></li>
            <li><a href="">Big Data Analysis</a></li>
            <li><a href="">Desktop Applications</a></li>
            <li><a href="">Mobile Applications</a></li>
          </ul>
        </div>

      </div>
      <div class="col-sm-3">
        <img src="https://bariton-react.envytheme.com/images/circle-map.png" alt="" class="img-fluid contact_map_img">
        <div class="d-flex flex-column gap-lg-4">
          <div class="footer_title footer_other_titles">Contact us</div>
          <ul class="list-unstyled">
            <li>
              <div class="d-flex gap-2">
                <div class="contact_us_title">Address</div>
                <div class="contact_us_data">: 2750 Quadra Street Victoria, Canada</div>
              </div>
            </li>
            <li>
              <div class="d-flex gap-4">
                <div class="contact_us_title">Email</div>
                <div class="contact_us_data">: aikernel@gmail.com</div>
              </div>
            </li>
            <li>
              <div class="d-flex gap-4">
                <div class="contact_us_title">Phone</div>
                <div class="contact_us_data">: +91 - 9554841515</div>
              </div>
            </li>
          </ul>
        </div>

      </div>

    </div>
  </div>
</section>
