<div class="container-fluid" id="aboutus_banner">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-6 order-2 order-lg-0">
        <div class="d-flex flex-column">
          <div class="banner_title title">
            <span class="text-main">AI Kernel</span> Solution for user Analystics.
          </div>
          <p>ML today are able to supply needful of help, information, and positive experience of maintaining intimacy
            with customers. Eventually, chatbot ideas bring a pleasant experience of all these qualities into the
            conversation.</p>
          <button class="btn-main">
            <span>Request a Demo</span>
            <i class="fa-solid fa-play"></i>
          </button>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="position-relative">
          <img src="https://img.freepik.com/premium-photo/technology_1103365-8996.jpg?w=740" alt="" class="img-fluid banner-img">
        </div>
      </div>
    </div>
  </div>
</div>
<section class="what_is_charlie">
  <img src="../../../../assets/half-ring-shape.png" alt="" class="img-fluid half-ring-img">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img
          src="https://img.freepik.com/premium-photo/funny-cartoon-robot-thinking-digital-technology-team-ai-generated_1034098-5900.jpg?w=740"
          alt="" class="img-fluid">
      </div>
      <div class="col-sm-6">
        <div class="d-flex flex-column gap-3">
          <p class="mb-0 badge_text">Explore AI Kernel</p>
          <div class="title py-0">What is <span class="text-main">Charlie ?</span></div>
          <p>
            CHARLIE is an audio and video analytics software as well as an audio-video management technology platform
            that has changed the way people think about security cameras. CHARLIE helps transform long CCTV video
            footage into meaningful information. The Video Analytics Software enables us to provide short and crisp
            real-time alerts that are actionable.
          </p>
          <p>
            Fueled with Artificial Intelligence, computer vision, deep learning, patented technologies, and unique
            capabilities, CHARLIE offers innovation for growth and security, making Staqu Technologies the best
            Intelligent video technology solution company.
          </p>
        </div>
      </div>
    </div>
  </div>
  <img src="../../../../assets/cross-img.svg" alt="" class="img-fluid cross-img-bottom">
</section>
<section class="advantages">
  <img src="../../../../assets/cross-img.svg" alt="" class="img-fluid cross-img">
  <img src="https://bariton-react.envytheme.com/images/home-seven/fun-facts-shape.png" alt="" class="img-fluid net-ring-img">
  <div class="container">
    <div class="text-center my-4">
      <div class="title">Advantages of <span class="text-main">AI Kernel</span></div>
    </div>
    <div class="row gy-4">
      <div class="col-sm-4">
        <div class="card overflow-hidden">
          <div class="card-body">
            <div class="d-flex flex-column gap-3">
              <img src="../../../../assets/aboutus/Utilize-video-feed-actionable-insights.png" alt=""
                class="img-fluid card_logo">
              <div class="card_title">Utilize video feed as actionable insights</div>
              <div class="card_description">
                <p class="text-justify">
                  CHARLIE is a proprietary video analytics solution that helps organizations from various industries
                  realize the true potential of their video data and utilize the data points in creating actionable
                  strategies to ensure increased revenue, loss prevention, and accelerated operational efficiency.
                </p>
              </div>
              <div class="d-flex justify-content-end ">
                <div class="learn_more">
                  <a href="">Learn More <i class="fa-solid fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card overflow-hidden">
          <div class="card-body">
            <div class="d-flex flex-column gap-3">
              <img src="../../../../assets/aboutus/robust-VMS.png" alt=""
                class="img-fluid card_logo">
              <div class="card_title">Increase efficiency with a robust VMS</div>
              <div class="card_description">
                <p class="text-justify">
                  CHARLIE VMS Software is a video wall that displays real-time notifications. The VMS functionality
                  allows organizations to monitor and act upon a large number of CCTV feeds at the same time. This VMS
                  integration can be deployed on a single JARVIS server, and each of the connected VMS integrations can
                  have separate cameras activated.
                </p>
              </div>
              <div class="d-flex justify-content-end ">
                <div class="learn_more">
                  <a href="">Learn More <i class="fa-solid fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card overflow-hidden h-100">
          <div class="card-body">
            <div class="d-flex flex-column gap-3">
              <img src="../../../../assets/aboutus/Easily-integrate-VMS.png" alt=""
                class="img-fluid card_logo">
              <div class="card_title">Easily integrate with any VMS</div>
              <div class="card_description">
                <p class="text-justify">
                  To run CHARLIE, you only need an IP camera and reliable internet access. It may be integrated with any
                  VMS and deployed on the cloud or at the edge which can be accessed anywhere, anytime.
                </p>
              </div>
              <div class="d-flex justify-content-end ">
                <div class="learn_more">
                  <a href="">Learn More <i class="fa-solid fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="analytics_software">
  <img src="https://bariton-react.envytheme.com/images/home-seven/about/vector.png" alt="" class="img-fluid vector-half-shape">
  <div class="container">
    <div class="d-flex justify-content-center my-5">
      <p class="badge_text">Industries Leveraging Charlie Video Analytics Software.</p>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <img src="https://img.freepik.com/free-vector/smart-city-man-user-smartphone-with-residential-smart-city-infrastructure_33099-164.jpg?w=740&t=st=1714116286~exp=1714116886~hmac=f64100226631c89af95e07905cd90aeab4bb9bd3b008d81c23de7d309e4aee72" alt="" class="img-fluid">
      </div>
      <div class="col-sm-6">
        <div class="d-flex flex-column">
          <div class="title">Video <span class="text-main">Analytics</span> For Smart Cities.</div>
          <p>AI technology is perfect for best business solutions & we offer help to achieve your goals.</p>
          <ul class="list-unstyled">
            <li>
              <div class="d-flex gap-4">
                <span>&#11162;</span>
                <p>Retail</p>
              </div>
            </li>
            <li>
              <div class="d-flex gap-4">
                <span>&#11162;</span>
                <p>Manufacturing</p>
              </div>
            </li>
            <li>
              <div class="d-flex gap-4">
                <span>&#11162;</span>
                <p>Infrastructure</p>
              </div>
            </li>
            <li>
              <div class="d-flex gap-4">
                <span>&#11162;</span>
                <p>Hospitality</p>
              </div>
            </li>
            <li>
              <div class="d-flex gap-4">
                <span>&#11162;</span>
                <p>Public Sector</p>
              </div>
            </li>
            <li>
              <div class="d-flex gap-4">
                <span>&#11162;</span>
                <p>Smart Cities</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <img src="../../../../assets/half-ring-shape.png" alt="" class="img-fluid half-ring-img">
</section>
