/* You can add global styles to this file, and also import other style files */

html,body{
  font-family: "Alegreya", serif;
}
.btn-main{
  background-color: #F95700FF;
  color: #fff;
  width: max-content;
  border-radius: 50%;
}
