/* You can add global styles to this file, and also import other style files */

html,body{
  font-family: "Alegreya", serif;
}
.btn-main{
  color: #fff;
  // background-color: #5816f2;
  background-color: #102159;    // color combo with bg is this #32a0ff
  text-align: center;
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  width: max-content;
  font-size: 0.85rem;
}
.text-main{
  color:  #32a0ff;
  text-decoration: underline;
  font-weight: 500;
}
h6,
small,
p{
  color: #565656;
  font-weight: 500;
  font-size: 1rem;
}
.title{
  font-size: 3rem;
  font-weight: 500;
  color: #102159;
  padding: 20px 0;
}
